.Hero {
  position: relative;
  margin-bottom: 35px
}

.Hero__media {
  height: 215px;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

@media screen and (min-width:1440px) {
  .Hero__media {
    background-position-x: center;
    background-size: 1440px;
    background-repeat: no-repeat;
  }
}

.Hero__media .container,
.Hero__media .menuContainer.main-nav {
  display: flex;
  justify-content: center
}
.static-inner .Hero__media img{
  height: inherit !important;
}
.Hero__media{
  height: 50vw;
}

.Hero__bg {
  width: 100%;
  height: 100%;
  position: absolute
}

.Hero__brand {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  margin-left: 20px;
  fill: #fff;
  stroke: none
}

.Hero__container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 1200px;
}
.static-inner .Hero__headline .Hero__content-img{
  width: 29.5vw;
  height: auto;
  margin-top: 6vw;
  margin-bottom: 30px;
}
.Hero__content-title{
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.70);
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -0.46px;
  margin-bottom: 8px;
}
.Hero__content-title.small{
  font-size: 28px;
}
.Hero__content-subtitle{
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.70);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.28px;
  margin-bottom: 8px;
}
.Hero__content-tagline{
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.70);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.28px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.Hero__buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 18px;
  margin: auto;
  max-width: 710px;
}
.Hero__buttons.single{
  display: block;
}
.Hero__buttons .Button:hover{
  background-color: #bc1c9e !important;
  border-color: #bc1c9e  !important;
}
.Hero__buttons .Button.hover\:purple:hover{
  background-color: #783df6 !important;
  border-color: #783df6  !important;
}
.Hero__buttons .Button.hover\:teal:hover{
  background-color: #1E8284 !important;
  border-color: #1E8284  !important;
}
.Hero__buttons .Button{
  width: 100%;
  box-sizing: border-box;
  left:0;
  padding: 11px 10px 12px;
  margin: 0 8px 0 0;
}
.Hero__buttons .Button:last-child{
  margin: 0;
}
.Hero__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2px
}

.Hero__copy {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.29
}

.Hero__sponsor {
  position: absolute;
  top: auto;
  right: 15px;
  bottom: -45px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between
}


.Hero__sponsor {
  position: absolute;
  top: auto;
  right: 15px;
  bottom: -45px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
@media (min-width:992px) {
  .Hero {
    margin-top: -25px;
    margin-bottom: 62px
  }
  .Hero__buttons{
    margin-top: 20px;
  }
  .Hero__buttons.single .Button{
    max-width: 280px;
  }
  .Hero__media .container,
  .Hero__media .menuContainer.main-nav {
    align-items: flex-start
  }
  .Hero__brand {
    margin-top: 240px
  }
  .Hero__sponsor {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 30px;
    left: auto
  }
  .Hero__sponsor-text {
    color: #fff
  }
  .Hero__sponsor-image {
    max-width: 80px
  }
}

@media (max-width:991px) {
  .articles.has-primary-features {
    margin-top: 70px;
  }
  .Hero__container{
    position: static;
    transform: unset;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 1200px;
  }
  .static-inner .Hero__headline .Hero__content-img{
    width: 33vw;
    margin-top:unset;
  }
  .Hero__headline{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 1200px;
    margin-top: 25%;
  }
  .Hero__content.blue{
    background: #0C0F60;
  }
  .Hero__content.black{
    background: #000000;
  }
  .Hero__content{
    position: static;
    width: 100%;
    background: #E2E5D9;
    padding: 20px 0 20px 0;
  }
  .Hero__content-tagline{
    font-size: 20px;
    margin-bottom: 18px;
  }
  .Hero__buttons{
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width:575px) {
  .search-box{
    margin: 0px;
  }
  .Hero__media {
    height: 56.25vw;
  }
  .Hero__media.sm-black:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
  }
  .Hero__headline.image-title  {
    margin-top: 145px
  }
  .Hero__media.h-290 {
    height: 290px;
  }
  .Hero__content {
    top: 36vw;
  }
  .static-inner .Hero__headline .Hero__content-img{
    width: 45vw;
  }
  .Hero__content-title{
    font-size: 30px;
  }
  .Hero__content-title.xs-medium{
    font-size: 26px;
  }
  .Hero__content-title.small{
    font-size: 20px;
  }
  .Hero__content-subtitle{
    font-size: 24px;
  }
  .Hero__content-subtitle.xs-medium{
    font-size: 22px;
  }
  .Hero__buttons{
    flex-direction: column;
  }
  .Hero__buttons .Button:last-child {
    margin: 0;
  }
  .Hero__buttons .Button {
    width: 100%;
    margin: 0 0 16px 0;
  }
  .articles.has-primary-features {
    margin-top: 0;
  }
}