.seatMap {
  .other-event {
    display: none;
  }

  .seat-tabs-box {
    border-bottom: solid 1px #746d6d;
    padding-bottom: 32px;
    align-items: baseline;

    .seat-tab {
      margin-left: auto;

      a {
        text-transform: none;
      }
    }
  }

  .performance-header {
    margin: 0 auto 16px;

    .performance-info {
      .item-short-description {
        font-size: 27px;
        margin: 0 0 16px;
      }

      .item-description {
        .performance-venue {
          display: flex;
          flex-direction: column-reverse;
          font-weight: 400;

          .date {
            margin-bottom: 2px;

            &::first-letter {
              display: none;
              font-size: 0;
              margin-left: -5px;
            }
          }
        }

        #item-description-text {
          line-height: 29.184px;
          margin-top: 16px;
        }
      }
    }
  }

  #map-parent {
    display: grid;

    .legend-price {
      order: 1;
      border-top: solid 1px #746d6d;
      margin-top: 32px;
      margin-bottom: 0;

      .pricing_legend {
        padding: 16px 0;

        &:before {
          content: "Ticket prices";
          font-size: 22px;
          font-weight: 700;
        }
      }

      #pricing_legend_title, #pricing_dropdown_arrow {
        display: none;
      }

      #pricing_list {
        padding-left: 0;
        padding-top: 20px;
        display: grid;

        .legend-ul {
          order: 1;
        }

        .fee-charges {
          float: left;
          font-size: 20px;
          margin-top: -30px;
          order: 0;

          &:hover button {
            &:before {
              content: "";
              position: absolute;
              left: 28px;
              top: 32px;
              width: 25px;
              height: 25px;
              box-shadow: 6px 5px 9px -9px #000, 5px 6px 9px -9px #000;
              transform: rotate(45deg);
              background: #f3eeff;
            }

            &:after {
              content: "We charge £1 per ticket for telephone and online bookings (maximum fee £3 per booking). BFI Members are not charged booking fees.";
              position: absolute;
              width: 93vw;
              background: #f3eeff;
              padding: 10px 20px;
              z-index: 999;
              color: #000;
              font-size: 17px;
              margin-top: 37px;
              text-align: left;
              font-weight: 400;
              left: 0%;
              border-radius: 5px;
            }
          }

          sup {
            display: none;
          }
        }
      }

      .promo-link {
        margin: 32px 0;
        padding: 0;
      }
    }

    .donation-early-prompt {
      margin-top: 0;
    }

    #map_container {
      order: 0;

      #svg_online_map {
        min-height: 600px;
      }

      #svg_map_section #price_type_section .modal-content {
        border-radius: 0;

        #price_type_section_title {
          font-size: 3.8vw;
          font-weight: 700;
          height: 33px;
          overflow: hidden;

          &:before {
            content: "Select the ticket you’d like";
            display: block;
          }
        }

        .pricetype-label, .price-label {
          font-size: 18.25px;
        }
      }

      #available_price_types .seat-prices .select-seat-price {
        &.btn {
          background: #000;
          color: #fff;

          &:focus {
            background-color: #000;
            border-color: #000;
          }

          &:hover {
            background-color: #310f7a;
            border-color: #310f7a;
          }
        }

        .pricetype-desc-label, .charge-label {
          display: none;
        }
      }
    }

    .selected-container-inner {
      border-top: solid 1px #746d6d;

      &:before {
        content: "Your seats";
        font-size: 22px;
        font-weight: 700;
      }

      #selected_section {
        display: grid;

        #selected_dropdown_arrow {
          position: absolute;
          right: 5px;
          top: 10px;
        }

        #selection_header {
          order: 1;

          #selected_total {
            display: none;
          }

          #selected_section_title {
            display: none;
            font-size: 20px;
            font-weight: 400;
            line-height: 29.184px;
          }

          #add_to_order {
            background-color: #783df6;
            border: 2px solid #783df6;

            &:hover {
              background-color: #310f7a;
              border: 2px solid #310f7a;
            }

            &:focus {
              background-color: #783df6;
            }

            &:disabled, &[disabled], &:disabled:hover, &[disabled]:hover {
              background-color: #d9d9d9;
              border: 2px solid #d9d9d9;
              color: #000;
              opacity: 1;
            }
          }
        }

        #selection_list_container {
          order: 0;
          border-top: unset;
          margin-top: 6px;

          #selection_list {
            max-height: 850px;
            height: auto;

            #selected_seats_ul {
              &:empty:before {
                content: "Your seats will appear here after you have selected them";
                margin-bottom: 16px;
                display: block;
              }

              li {
                border-bottom: 1px solid #746d6d;
                margin: 0 0 16px;
                padding: 5px 5px 16px 0;

                &:first-child {
                  &:before {
                    content: "Tickets are not reserved until added to the basket";
                    margin-bottom: 16px;
                    display: block;
                  }

                  .cancel_seat {
                    top: 51%;
                  }
                }
              }

              .selected_seat_color {
                top: unset;
                margin-top: 3px;

                .selected_seat_color_inner {
                  background-color: unset;
                }
              }

              .selected_seat_info {
                margin: 0 40px;
              }

              .cancel_seat {
                margin-top: unset;
                top: 18%;

                .svg-inline--fa {
                  color: transparent;
                  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj48cGF0aCBkPSJNMiAyLjAxNDE2TDIyIDIyLjAxNDIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMyIvPjxwYXRoIGQ9Ik0yMiAyLjAxNDE2TDIgMjIuMDE0MSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIi8+PC9zdmc+);
                }
              }
            }

            .attention, .fee-charges {
              display: none;
            }
          }
        }
      }
    }

    #selected_container.affix #selected_section #selected_dropdown_arrow {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
}

@media screen and (min-width: 992px) {
  .seatMap .seat-tabs-box {
    display: flex;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .seatMap .performance-header .performance-info .item-description {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .seatMap #map-parent .legend-price {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .seatMap #map-parent .legend-price #pricing_list {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .seatMap #map-parent .legend-price #pricing_list .fee-charges {
    margin-top: -43px;
    margin-left: auto;
  }
}

@media (min-width: 576px) {
  .seatMap #map-parent .legend-price #pricing_list .fee-charges:hover button:after {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seatMap #map-parent .legend-price #pricing_list .fee-charges:hover button:after {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .seatMap #map-parent .donation-early-prompt {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .seatMap #map-parent #map_container #svg_map_section #price_type_section {
    top: 45% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed !important;
  }
}

@media screen and (min-width: 768px) {
  .seatMap #map-parent #map_container #svg_map_section #price_type_section .modal-content #price_type_section_title {
    font-size: 27px;
  }
}

@media screen and (min-width: 576px) {
  .seatMap #map-parent #map_container #svg_map_section #price_type_section .modal-content #price_type_section_title {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .seatMap #map-parent #selected_container.affix #selected_section #selected_dropdown_arrow {
    position: absolute;
    right: calc((100% - 750px) / 2 + 5px);
    top: 10px;
  }
}

#promo-modal {
  .modal-content {
    border-radius: 0;
  }

  button.close {
    position: absolute;
    right: 30px;
    color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj48cGF0aCBkPSJNMiAyLjAxNDE2TDIyIDIyLjAxNDIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMyIvPjxwYXRoIGQ9Ik0yMiAyLjAxNDE2TDIgMjIuMDE0MSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIi8+PC9zdmc+);
    z-index: 99;
    width: 20px;
    height: 20px;
    opacity: 1;
    font-size: 0;
    margin-top: 5px;
  }

  .promotional-code-input form {
    width: 100%;
  }
}

.performance-header {
  background-color: transparent !important;
  color: #000;

  a {
    color: inherit;
    background-image: none;
  }
}

.seatMap {
  .legend-div {
    background-color: transparent;
  }

  #selected_seats_ul li .selected_seat_color, .legend-li .price-zone-color, .pricing_list .price-zone-color {
    margin-right: 15px;
  }

  #selected_container .btn-link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    background-color: #000 !important;
    text-decoration: none;
    padding: 10px 25px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    border: 2px solid #000 !important;
    border-radius: 0;
    margin-bottom: 4px;
    color: #fff !important;
    line-height: 1;

    &:focus {
      box-shadow: 0 0 0 4px #ff22c9 !important;
      outline: 0 !important;
      height: auto;
      background-image: none !important;
    }
  }

  #selection_list_title .selection-cta {
    max-width: none;
    margin: 10px 0;
  }

  #selected_seats_ul li {
    margin: 0 0 25px;
    padding: 5px 5px 20px 0;

    .cancel_seat {
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -10px;
      transform: translateY(-50%);
    }
  }

  .scren-nav-arrow.right-arrow {
    left: auto;
  }

  .fee-charges {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .promo-link {
    margin-bottom: 50px;
  }

  #selection_header {
    flex-wrap: wrap;

    .selection-cta {
      max-width: none;
      flex-basis: 100%;
      margin: 10px 0;
    }
  }

  #screen_flip_section {
    height: 65px;
  }

  #change-screen-btn {
    padding: 4px;
    top: 1px;
    margin: 0;
    opacity: 1;
    color: #fff;
    border: 2px solid #000;
    border-radius: 0;
    background-color: #000;
  }

  .legend-li .price-zone-info {
    width: 200px !important;
  }
}

.other-event svg, .seatMap .fullmap-link svg {
  display: none;
  margin-right: 10px;
}

.alert {
  background-color: #f3eeff;
  border-color: #f3eeff;
  color: #000;
  border-radius: 0;
}

.seat-tabs-box a::selection {
  background: #e8ddff;
}

.promotional-code-input {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  padding: 0;
  font-size: 17px;
  line-height: 1.47;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.promotional-code-input--dark:before {
  box-shadow: 9999px 0 0 #000;
  border-left: 9999px solid #000;
}

.promotional-code-input--light {
  background-color: #f3eeff;

  &:before {
    box-shadow: 9999px 0 0 #f3eeff;
    border-left: 9999px solid #f3eeff;
  }
}

.promotional-code-input__content {
  padding: 15px 0;
}

.promotional-code-input {
  .input-group-append {
    border: 0 !important;
  }

  .form-control {
    display: block;
    padding: 12px 10px 13px;
    border: 2px solid #000;
    transition: border 0.3s;
    height: 50px !important;
    margin-right: 16px;

    &:focus {
      border: 5px solid #ff22c9;
      outline: 0;
      box-shadow: none;
    }
  }

  .btn {
    height: 50px;
    min-height: 50px;
    flex-shrink: 0;
    background-color: #783df6;
    color: #fff;
    padding: 0 25px;
  }
}

#promoCodeBox .btn {
  &:focus {
    background-color: #783df6;
  }

  &:hover {
    background-color: #310f7a;
  }
}

@media screen and (min-width: 992px) {
  .promotional-code-input {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  #promocode-title {
    font-size: 27px;
    line-height: 1.31;
  }

  .seatMap #selected_container .selected-container-inner {
    background-color: transparent;
    padding: 16px 0;
  }
}
