#content .container .breadcrumb {
  position: relative;
  background: #f5f5f5;
  width: 152vw;
  left: -30vw;
  padding: 25px 30vw;
  border-radius: 0;

  .breadcrumb-item {
    padding: 0;
    margin-right: 30px;
    font-size: 18px;

    a {
      background-image: none;

      &:hover {
        color: #000;
      }

      &:after {
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        background-color: #783df6;
        width: 0;
        bottom: 0;
        transition: 0.3s ease-in-out;
      }

      &:hover:after {
        width: 100%;
        opacity: .8;
        visibility: visible;
      }
    }

    &.breadcrumb-active {
      color: #000;
      box-sizing: border-box;
      text-decoration: none;
      outline: 0;
      font-weight: 700;
      background-image: linear-gradient(120deg, #783df6 0, #783df6 100%);
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: 0 100%;
      transition: 0.15s ease-in-out;
    }

    &:after {
      margin: 5px 12px;
      content: "";
      width: 8px;
      height: 14px;
      font-weight: 700;
      position: absolute;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDEwIDE3IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMSAxNi41TDkgOC41TDAuOTk5OTk5IDAuNSIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4=);
      background-size: contain;
    }
  }
}

@media screen and (min-width: 992px) {
  #content .container .breadcrumb {
    margin-top: -26px;
  }
}


.menuContainer.main-nav {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

#menu .menuSubItem,
.menu .menuSubItem {
  border-radius: 0 !important
}

#menu .dropdown-menu:last-child:after,
#menu svg,
.menu .dropdown-menu:last-child:after,
.menu svg {
  display: none !important
}

#menu .btn:focus,
.menu .btn:focus {
  box-shadow: 0 0 0 4px #ff22c9 !important;
  outline: 0 !important;
  height: auto
}

#menu .btn,
.menu .btn {
  background-color: transparent
}

#menu .btn:after,
#menu .menuSubItem:last-child:after,
#menuTopItem-help,
.menu .btn:after,
.menu .menuSubItem:last-child:after{
  display: none
}

#menu .btn:active :after,
.menu .btn:active :after {
  height: 5px
}

#menu,
.menu {
  background-color: #fff
}


#menu .btn,
.menu .btn {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  padding: 10px 0;
  color: #000;
  border: none;
  text-align: left
}

#menu .btn:focus,
#menu .btn:hover,
.menu .btn:focus,
.menu .btn:hover {
  color: #000 !important
}

#menu .btn:focus:after,
#menu .btn:hover:after,
.menu .btn:focus:after,
.menu .btn:hover:after {
  height: 2px
}

#menu .btn:focus :after,
.menu .btn:focus :after {
  bottom: 0
}

#menu .btn:active,
.menu .btn:active {
  background-color: transparent !important;
  border-color: #310f7a !important;
  box-shadow: 0 0 0 4px #ff22c9 !important
}

#menu .empty-link-dropdown-toggle,
.menu .empty-link-dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
  color: #000;
  font-size: 16px
}

#menu .dropdown-menu,
.menu .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  transform: translate3d(0px, 64px, 0px) !important;
  z-index: 999;
}

#menu .menuTopItem,
.menu .menuTopItem {
  border-bottom: 0
}

#menu .menuTopItem.show [data-toggle=dropdown],
.menu .menuTopItem.show [data-toggle=dropdown] {
  background-color: #fff;
  box-shadow: none
}

#menuTop,
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 700;
  padding: 0;
  text-align: left;
  flex-basis: 100%;
  margin: 16px
}

.menu__link,
.menu_item.empty-link-dropdown-toggle,
.menu_item.menu-link {
  position: relative;
  display: block;
  padding: 16px 0 !important;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  transition: color .1s
}

.menu__link:focus,
.menu_item.empty-link-dropdown-toggle:focus,
.menu_item.menu-link:focus {
  background-color: #fff !important;
  box-shadow: #ff22c9 0 0 0 4px !important;
  outline: 0 !important
}

.menu__link:focus,
.menu__link:hover,
.menu_item.empty-link-dropdown-toggle:focus,
.menu_item.empty-link-dropdown-toggle:hover,
.menu_item.menu-link:focus,
.menu_item.menu-link:hover {
  color: #000;
  text-decoration: none
}

.menu__link:focus:after,
.menu__link:hover:after,
.menu_item.empty-link-dropdown-toggle:focus:after,
.menu_item.empty-link-dropdown-toggle:hover:after,
.menu_item.menu-link:focus:after,
.menu_item.menu-link:hover:after {
  margin-right: 5px
}

.menu__form {
  margin: 0 16px
}

@media (min-width: 576px) {
  .menuContainer.main-nav {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .menuContainer.main-nav {
    max-width: 720px
  }

  #menu .btn,
  .menu .btn {
    padding: 11px 15px 12px;
    width: auto;
    left: 0
  }

  #menu .btn:after,
  .menu .btn:after {
    display: block;
    content: "";
    width: auto;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 15px;
    right: 15px;
    background-color: #000;
    z-index: -1
  }
}

@media (min-width: 992px) {
  .greeting-message {
    margin-left: 10px
  }

  .menuContainer.main-nav {
    max-width: 960px
  }

  #menu,
  .menu {
    margin-bottom: 26px;
    border: 1px solid #e9e8e8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
  }

  #menu .dropdown-menu,
  .menu .dropdown-menu {
    margin-top: 4px
  }

  #menu .menuTopItem.show [data-toggle=dropdown]:after,
  .menu .menuTopItem.show [data-toggle=dropdown]:after {
    background-color: #000 !important;
    width: calc(100% - 30px)
  }

  #menuTop,
  .menu__list {
    margin: 0px -15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
  }

  .menu__link,
  .menu_item.empty-link-dropdown-toggle,
  .menu_item.menu-link {
    padding: 21px 15px !important
  }

  .menu__link:after,
  .menu_item.empty-link-dropdown-toggle:after,
  .menu_item.menu-link:after {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    background-color: #000;
    width: 0;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transition: .3s ease-in-out
  }

  .menu__link:after.active,
  .menu_item.empty-link-dropdown-toggle:after.active,
  .menu_item.menu-link:after.active {
    width: 100%
  }

  .menu__link:hover:after,
  .menu_item.empty-link-dropdown-toggle:hover:after,
  .menu_item.menu-link:hover:after {
    width: calc(100% - 30px);
    opacity: .8;
    visibility: visible
  }

  .is-active .menu__link:hover:after,
  .is-active .menu_item.empty-link-dropdown-toggle:hover:after,
  .is-active .menu_item.menu-link:hover:after {
    opacity: 1
  }

  .menu__form {
    margin: 10px 0;
    width: 416px;
    flex-shrink: 0
  }
}

@media (min-width:992px) and (max-height:1024px) {
  #menu .btn,
  .menu .btn {
    padding: 4px 15px
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu__link,
  .menu_item.empty-link-dropdown-toggle,
  .menu_item.menu-link {
    padding: 21px 10px !important
  }
}

@media (min-width: 1200px) {
  .menuContainer.main-nav {
    max-width: 1140px
  }
}

@media (max-width: 991.98px) {
  #menu .empty-link-dropdown-toggle,
  .menu .empty-link-dropdown-toggle {
    margin-bottom: 4px
  }

  .menu__link:after,
  .menu_item.empty-link-dropdown-toggle:after,
  .menu_item.menu-link:after {
    content: "";
    border-style: solid;
    border-width: 4px 4px 0 0;
    display: inline-block;
    height: 12px;
    left: 0;
    position: relative;
    top: 6px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 12px;
    float: right;
    margin-right: 15px;
    transition: .2s
  }
}
.content-wrapper:has(.hide-search-box) .search-box {
  display: none
}

@media(min-width: 992px) {
  .content-wrapper:has(.menu-indicator-1) #menu .menuTopItem:nth-child(1) .menu_item,.content-wrapper:has(.menu-indicator-2) #menu .menuTopItem:nth-child(2) .menu_item,.content-wrapper:has(.menu-indicator-3) #menu .menuTopItem:nth-child(3) .menu_item,.content-wrapper:has(.menu-indicator-4) #menu .menuTopItem:nth-child(4) .menu_item,.content-wrapper:has(.menu-indicator-5) #menu .menuTopItem:nth-child(5) .menu_item,.content-wrapper:has(.menu-indicator-6) #menu .menuTopItem:nth-child(6) .menu_item,.content-wrapper:has(.menu-indicator-7) #menu .menuTopItem:nth-child(7) .menu_item,.content-wrapper:has(.menu-indicator-8) #menu .menuTopItem:nth-child(8) .menu_item,.content-wrapper:has(.menu-indicator-9) #menu .menuTopItem:nth-child(9) .menu_item,.content-wrapper:has(.menu-indicator-10) #menu .menuTopItem:nth-child(10) {
    font-weight:700
  }

  .content-wrapper:has(.menu-indicator-1) #menu .menuTopItem:nth-child(1) .menu_item:after,.content-wrapper:has(.menu-indicator-2) #menu .menuTopItem:nth-child(2) .menu_item:after,.content-wrapper:has(.menu-indicator-3) #menu .menuTopItem:nth-child(3) .menu_item:after,.content-wrapper:has(.menu-indicator-4) #menu .menuTopItem:nth-child(4) .menu_item:after,.content-wrapper:has(.menu-indicator-5) #menu .menuTopItem:nth-child(5) .menu_item:after,.content-wrapper:has(.menu-indicator-6) #menu .menuTopItem:nth-child(6) .menu_item:after,.content-wrapper:has(.menu-indicator-7) #menu .menuTopItem:nth-child(7) .menu_item:after,.content-wrapper:has(.menu-indicator-8) #menu .menuTopItem:nth-child(8) .menu_item:after,.content-wrapper:has(.menu-indicator-9) #menu .menuTopItem:nth-child(9) .menu_item:after,.content-wrapper:has(.menu-indicator-10) #menu .menuTopItem:nth-child(10) .menu_item:after {
    width: calc(100% - 30px)
  }

  .menuContainer.main-nav .nav .menuTopItem .menu_item {
    border-left: 1px solid;
    padding: 0 16px!important;
    margin: 21px 0;
    color: #000;
    font-weight: 600
  }

  .menuContainer.main-nav .nav .menuTopItem:first-child .menu_item {
    border-left: 0
  }
}

.contact-us {
  order: 1;
  border-top: solid 1px #746d6d;
  padding-top: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 992px) {
    width: 70%;
  }

  .back-btn {
    display: inline-block;
    margin-top: 16px;
  }
}
